.timer {
    display: flex;
    justify-content: center;
    width: 364px;
    height: 72px;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
}

.field {
     display: flex;
    justify-content: center;
     flex-wrap: wrap;
}

.value {
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.label {
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #2e2f42;
}

#datetime-picker {
border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

#datetime-picker:hover {
border-color: #000;
}

#datetime-picker:disabled {
border-color: #808080;
}
#datetime-picker:active {
border-color: #4e75ff;
}

button[data-start] {
    background-color: #4e75ff;
border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border: none;
}

button[data-start]:hover {
    background-color: #6c8cff;
}

button[data-start]:disabled {
    background-color:#cfcfcf;
    color: #989898;
    cursor: not-allowed;
}